@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Oswald:wght@300&display=swap');

#post{
    width: 30%;
    padding-right: 3%;
    padding-bottom: 5%;
    padding-top: 5%;
    font-family: 'Advent Pro', sans-serif;
}

body {
    height: 100vh;
}

#gradient {
    background-image: linear-gradient(#ffffff, #000000);
    height: 40%;
    margin-top: 60%;
    bottom: 0%;
    position: sticky;
    z-index: -1;
}

.nav__item {
    font-size: 20px;
    list-style: none;
    text-decoration: none;
    padding: 7px;
}

.nav__item:hover {
    background-color: #000000;
    color: #ffffff;
    transition: 0.6s;
}

.search {
    font-size: 20px;
    list-style: none;
    text-decoration: none;
    padding: 7px;
    border: #000000 solid;
    cursor: pointer;
}

.nav__list {
    display: flex;
    gap: 40px;
    align-items: center;
}

.header {
    display: flex;
}

.logo__img {
    height: 100px;
    background-image: url('Logo_black.jpg');
    transition: 0.6s;
}

.header__div{
    display: flex;
    align-items: center;
    gap: 100px;
}

.drop__title {
    padding: 7px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 7px;
}

.drop__title:hover{
    background-color: #000000;
    color: #ffffff;
    transition: 0.6s;
}

.dropdown__item {
    font-size: 20px;
    cursor: pointer;
    color: #000000;
    background-color: #ffffff;
}

.dropdown__item:hover {
    background-color: #000000;
    color: #ffffff;
    transition: 0.6s;
}

.header__dropdown {
    position: relative;
    display: inline-block;
}

.dropdown__content {
    padding-top: 7px;
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px #ffffff;
    z-index: 1;
    width: 162px;
}

.dropdown__item {
    text-decoration: none;
    padding: 7px;
    display: block;
}

.header__dropdown:hover .dropdown__content{
    display: block;
}

.logo__img:hover {
    transition: 0.6s;
    content: url('Logo_black.jpg');
}

.header {
    position: sticky;
    top: 0%;
    background-color: #ffffff;
}
